@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-title {
  font-size: 2rem;
  padding: 1rem;
}

body {
  padding: 20px;
}
#content {
  width: 100%;
}

/* WIDGET STYLES */

.widget-header {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.widget-grid-item {
  padding-bottom: 4rem;
  height: 15rem;
}



/* MODAL STYLES */

.modal-button-add {
  position: absolute;
  top:170px;
  left: 737px;
  margin: 0.5rem;
  background: #91cfbf;
  border-color: #91cfbf;

  font-family:"Roboto", sans-serif;
}

.modal-button-theme{
  position: absolute;
  top:170px;
  left: 887px;
  margin: 0.5rem;
  background: #91cfbf;
  border-color: #91cfbf;

  font-family:"Roboto", sans-serif;
}

.ant-modal-header {
  background-color: #ECBA91;
  text-align: center;
  font-family: "Roboto", sans-serif;
}



.ant-modal-title {
  color: white;
  font-size: 24px;
  font-weight: 450;
}

.ant-btn:hover{
  color:black;
  border-color: black;
}

.ant-btn:focus{
  border-color: rgb(217, 217, 217);;
  color: rgb(0,0,0,0.65);
}

.modal-button-add:hover, .modal-button-theme:hover{
  background: #ECBA91;
  border-color: #ffa39e;
}

.modal-button-add:focus, .modal-button-theme:focus{
  background: #ECBA91;
  border-color: #91cfbf;
}

.ant-btn-primary{
  background: #ECBA91;
  border-color: #ECBA91;
}

.ant-btn-primary:hover {
  border-color: #ffa39e;
  color: white;
  background: #ECBA91;
}

.ant-btn-primary:focus{
  background: #ECBA91;
  border-color: rgba(0, 0, 0, 0);
  color: white;
}

.ant-input:hover{
  border-color: black;
}

.ant-upload:focus{
  border-color: black;
}

.ant-upload .ant-upload-select:focus {
  border-color:black;
}



.modal-style{
  font-family:"Roboto", sans-serif;
  
}




/* GRID LAYOUT STYLES */
.react-grid-layout {
  background: #eee;
}

.react-grid-layout.layout{
  position: relative;
  height: 430px; 
  background-color: rgb(217, 224, 236); 
  margin: 1rem; 
  width: 900px;
  top: 175px; 
  left: 425px;
}
.layoutJSON {
  background: #ddd;
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}
.columns {
  -moz-columns: 120px;
  -webkit-columns: 120px;
  columns: 120px;
}
.react-grid-item {
  box-sizing: border-box;
}
.react-grid-item:not(.react-grid-placeholder) {
  background: #ccc;
  border: 1px solid black;
}
.react-grid-item.resizing {
  opacity: 0.9;
}
.react-grid-item.static {
  background: #cce;
}
.react-grid-item .text {
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 24px;
  font-family: "Roboto", sans-serif;
}
.react-grid-item .minMax {
  font-size: 12px;
}
.react-grid-item .add {
  cursor: pointer;
}
.react-grid-dragHandleExample {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.toolbox {
  background-color: #dfd;
  width: 100%;
  height: 120px;
  overflow: scroll;
}

.hide-button {
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 0px;
  right: 5px;
}

.toolbox__title {
  font-size: 24px;
  margin-bottom: 5px;
}
.toolbox__items {
  display: block;
}
.toolbox__items__item {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  background-color: #ddd;
}
.droppable-element {
  width: 150px;
  text-align: center;
  background: #fdd;
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}





.logo{
  height: 114px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  

  color: #ffffff;
}

.page-title{
  position: absolute;
  width: 300px;
  height: 55px;
  left: 745px;
  top: 110px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  background:rgba(121, 141, 228, 0.66);
  border-radius: 15px;
  color:white;
}

.daml {
  position: absolute;
  width: 200px;
  height: 42px;
  left: 2px;
  top: 45px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #FFFFFF;
}

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon{
  font-size: 18px;
  vertical-align: 0.5px;
}


.ant-layout-sider {
  position: absolute;
}

.site-layout-background {
  width: 317px;
  height: 937px;
  left: 0px;
  top: 87px;
  padding: 0px;
  background: #4C5B69;
  
}

.ant-menu-submenu-title:hover {
  color: white!important;
}

.ant-menu-submenu-title.option{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 24px;
  align-items: center;
  color: #FFFFFF;
  
}

.option{
  border: 0px;
  text-indent: 7.5%;
  font-weight: 200;
  font-size: 20px;
}

.ant-menu-inline .ant-menu-submenu-title{
  background: none;
}

.ant-menu.ant-menu-light .ant-menu-submenu-open.option{
  background:#637585;
}


.menu-layout-background{
  width: 317px;
  height: 937px;
  left: 0px;
  top: 87px;
  
  background: #4C5B69;
}




.ant-menu-item.menu-item{
  width: 317px;
  left: 0px;
  height: 65px;
  background: #4C5B69;
  border: 0.5px solid #c1c1c1;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  color: white;
  margin-top: 0px;
  margin-bottom:0px;
}



.ant-menu.ant-menu-light .ant-menu-item-selected.menu-item{
  background-color: #798DE4;
}

.ant-menu-inline .ant-menu-selected::after, .ant-menu-inline .ant-menu-item-selected::after {
  opacity: 0;
}



.menu-item:hover {
  background-color: #8c9bd1!important;
  color: white;
}

.ant-menu-item-selected.menu-item:first-child {
  border: 0.5px solid rgba(255, 255, 255, 0.5);
}




.main-menu{
  background: #4C5B69;
  color: white;
  font-family: "Roboto", sans-serif;
  border: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  
}


.ant-menu-submenu-title .ant-menu-submenu-arrow{
    background: white;
}


.ant-menu-submenu-arrow::before, .ant-menu-submenu-arrow::after {
  background: white!important;

}



.header {
    position: absolute;
    width: 1440px;
    height: 87px;
    left: 0px;
    top: 0px;
    
    background: #798DE4;
}

.title {
  position: absolute;
  width: 91px;
  height: 35px;
  left: 79px;
  top: 28px;
  
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}

.user{
  position: absolute;
  height: 35px;
  left: 1106px;
  top: 27px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;

color: #FFFFFF;
}

.usericon{
  background-color: #FFFFFF;
}

.submenu-data{
  position: absolute;
  width: 316px;
  height: 45px;
  left: 0px;
  align-items: center;
  color:white;
  background: #7A8EA0;
  border: 0.5px solid #C1C1C1;
  text-indent: 5%;
  font-family: "Roboto", sans-serif;
}

.ant-menu.ant-menu-light .ant-menu-item-selected.submenu-data{
  background: #7083CB;
}

.submenu-data:hover{
  background: #8c9bd1;
  color:white;
}

.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
  margin-top: 0px;
  margin-bottom: 0px;
}
